.game {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px;

  .account-info {
    text-align: center;

    .negative {
      color: red;
    }

    .positive {
      color: green;
    }
  }

  .trade-button {
    &.buy {
      float: left;
    }

    &.sell {
      float: right;
    }
  }
}
