.game {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px;

  .account-info {
    text-align: center;

    .negative {
      color: red;
    }

    .positive {
      color: green;
    }
  }

  .trade-button {
    &.buy {
      float: left;
    }

    &.sell {
      float: right;
    }
  }

  // Gets rid of circles
  .nv-stackedAreaChart .nvd3.nv-scatter.nv-single-point .nv-groups circle.nv-point {
    fill-opacity: 0 !important;
    stroke-opacity: 0 !important;
  }
}
