.game {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 20px;

  .account-info {
    text-align: center;

    .negative {
      color: red;
    }

    .positive {
      color: green;
    }
  }

  .trade-button {
    &.buy {
      float: left;
    }

    &.sell {
      float: right;
    }
  }

  .pause-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.5);
    opacity: 1;
    transition: opacity ease 1s;

    &.ng-hide {
      opacity: 0;
    }

    .pause-button {
      opacity: 0.5;
      background-color: red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20%;
      padding-bottom: 20%;
      border-radius: 20%;

      .pause-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: 70%;

        .pause-bar-one,
        .pause-bar-two {
          position: absolute;
          width: 100%;
          height: 25%;
          background-color: white;
          border-radius: 100px;
        }

        .pause-bar-one {
          top: 16%;
        }

        .pause-bar-two {
          bottom: 16%;
        }
      }
    }
  }

  // Gets rid of circles
  .nv-stackedAreaChart
    .nvd3.nv-scatter.nv-single-point
    .nv-groups
    circle.nv-point {
    fill-opacity: 0 !important;
    stroke-opacity: 0 !important;
  }
}
