time-bar {
  background-color: orange;
  height: 5px;
  width: 100%;
  position: relative;
  display: block;

  div {
    // Position
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -25%);

    // Style
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;

    // Animate
    transition: left 1s linear;
  }
}
