<div class="jumbotron">
  <div class="container">
    <h1>Buy Sell Buy</h1>
    <p>a game about the stock market.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Fun</h2>
      <p>Match wits against the completely random fluctuations of the market!</p>
    </div>
    <div class="col-md-4">
      <h2>Frantic</h2>
      <p>Day trading? Forget about it. This all happens in a minute and a half.</p>
    </div>
    <div class="col-md-4">
      <h2>Social commentary?</h2>
      <p>Naw dawg. Have fun.</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>© Will Lee-Wagner & Thomas Wilson</p>
  </footer>
</div>
