<div class="game">
  <h2>Buy Sell Buy: BSB</h2>
  <h3>{{ displayPrice() }}</h3>

  <nvd3 config="config" options="options" data="data"></nvd3>

  <div class="row">
    <div class="account-info col-xs-4">
      <h3>{{ stocks.count }}</h3>
      <h4>Shares</h4>
    </div>
    <div class="account-info col-xs-8">
      <h3 ng-class="stocks.account < 0 ? 'negative' : 'positive'">{{ stocks.account | currency:"$" }}</h3>
      <h4>Balance</h4>
    </div>
  </div>

  <trade-button type="buy"></trade-button>
  <trade-button type="sell"></trade-button>
</div>
